
<div class="ui container">
<br>

<h1>This is where you have to login!</h1>

<form class="ui form" action="/login" method="post">
	EMAIL ID: <br>
	<input type="text" name="email">
	<br>
	PASSWORD: <br>
	<input type="password" name="password">
	<br>
	<br>
	<input type="submit" value="Login" class="ui button">
</form>


</div>

