
<div class="ui container">
<br>

<h1>This is where you have to register!</h1>

<form class="ui form" action="/register" method="post">
	NAME OF USER: <br>
	<input type="text" name="username">
	<br>
	EMAIL ID: <br>
	<input type="text" name="email">
	<br>
	PASSWORD: <br>
	<input type="password" name="password">
	<br>
	CONFIRM PASSWORD: <br>
	<input type="password" name="confpassword">
	<br>
	<br>
	<input type="submit" value="Register" class="ui button">
</form>


</div>

